@import "tailwindcss";
@import "@heroui/styles"; 

@theme {
  --color-background: #0f0f0f;
  --color-primary: #f97316;
  --color-secondary: #6366f1;
  --color-surface: #1a1a1a;
  --color-text: #f1f5f9;
  --color-muted: #94a3b8;
}